* {
	text-align: center;
	background-image: url("../img/background.jpg");
	color: white;
	font-family: 'Yellowtail', cursive;


}
h1 {
	font-size: 38px;
}
#click {
	font-size: 33px;
	border: none;
	color: white;
	text-align: center;
	display: inline-block;
	background-color: #008CBA;
	padding: 18px;
	margin-top: 15px;

}
#info {
	width: 38%;
	padding: 1% 4.5%;
	font-size: 25px;
}
#yourHoroscope {
	font-size: 40px;
	font-family: 'Reem Kufi', sans-serif;

}
